.gradle
.settings
/.idea/
/.vscode/
/run/
/build/
/eclipse/
.classpath
.project
/bin/
/config/
/out/
/harness-output/
/logs/

# The local crystalgui root directory for workspaces and cache
/crystalgui/
